USE master
GO

/****** Object:  Database AP     ******/
IF DB_ID('AP') IS NOT NULL
	DROP DATABASE AP
GO

CREATE DATABASE AP
GO 

USE AP
GO

/****** Object:  Table ContactUpdates  ******/   
CREATE TABLE ContactUpdates(
	VendorID int IDENTITY(1,1) NOT NULL,
	LastName varchar(50) NULL,
	FirstName varchar(50) NULL
)
GO

/****** Object:  Table GLAccounts     ******/
CREATE TABLE GLAccounts(
	AccountNo int NOT NULL,
	AccountDescription varchar(50) NOT NULL,
 CONSTRAINT PK_GLAccounts PRIMARY KEY CLUSTERED (
	AccountNo ASC
 )
)
GO

/****** Object:  Table InvoiceArchive     ******/
CREATE TABLE InvoiceArchive(
	InvoiceID int NOT NULL,
	VendorID int NOT NULL,
	InvoiceNumber varchar(50) NOT NULL,
	InvoiceDate smalldatetime NOT NULL,
	InvoiceTotal money NOT NULL,
	PaymentTotal money NOT NULL,
	CreditTotal money NOT NULL,
	TermsID int NOT NULL,
	InvoiceDueDate smalldatetime NOT NULL,
	PaymentDate smalldatetime NULL,
	isDeleted BIT NOT NULL
) 
GO

/****** Object:  Table InvoiceLineItems     ******/
CREATE TABLE InvoiceLineItems(
	InvoiceID int NOT NULL,
	InvoiceSequence smallint NOT NULL,
	AccountNo int NOT NULL,
	InvoiceLineItemAmount money NOT NULL,
	InvoiceLineItemDescription varchar(100) NOT NULL,
CONSTRAINT PK_InvoiceLineItems PRIMARY KEY CLUSTERED (
	InvoiceID ASC,
	InvoiceSequence ASC
 ) 
)
GO

/****** Object:  Table Invoices     ******/
CREATE TABLE Invoices(
	InvoiceID int IDENTITY(1,1) NOT NULL,
	VendorID int NOT NULL,
	InvoiceNumber varchar(50) NOT NULL,
	InvoiceDate smalldatetime NOT NULL,
	InvoiceTotal money NOT NULL,
	PaymentTotal money NOT NULL,
	CreditTotal money NOT NULL,
	TermsID int NOT NULL,
	InvoiceDueDate smalldatetime NOT NULL,
	PaymentDate smalldatetime NULL,
	isDeleted BIT NOT NULL DEFAULT 0,
 CONSTRAINT PK_Invoices PRIMARY KEY CLUSTERED (
	InvoiceID ASC
 )
)
GO

/****** Object:  Table Terms    ******/
CREATE TABLE Terms(
	TermsID int IDENTITY(1,1) NOT NULL,
	TermsDescription varchar(50) NOT NULL,
	TermsDueDays smallint NOT NULL,
 CONSTRAINT PK_Terms PRIMARY KEY CLUSTERED (
	TermsID ASC
 )
) 
GO

/****** Object:  Table Vendors    ******/
CREATE TABLE Vendors(
	VendorID int IDENTITY(1,1) NOT NULL,
	VendorName varchar(50) NOT NULL,
	Password varbinary(128) NULL DEFAULT(NULL),
	Salt	uniqueidentifier NOT NULL DEFAULT(NEWID()),
	LoginToken uniqueidentifier NULL DEFAULT(NULL),
	VendorAddress1 varchar(50) NULL,
	VendorAddress2 varchar(50) NULL,
	VendorCity varchar(50) NOT NULL,
	VendorState char(2) NOT NULL,
	VendorZipCode varchar(20) NOT NULL,
	VendorPhone varchar(50) NULL,
	VendorContactLName varchar(50) NULL,
	VendorContactFName varchar(50) NULL,
	DefaultTermsID int NOT NULL,
	DefaultAccountNo int NOT NULL,
 CONSTRAINT PK_Vendors PRIMARY KEY CLUSTERED(
	VendorID ASC
 )
) 
GO

/******************************* Views *******************************/
CREATE VIEW [dbo].[vwInvoices]
	AS 
SELECT *, [Balance] = (InvoiceTotal - PaymentTotal - CreditTotal) 
FROM [Invoices]
WHERE isDeleted = 0
GO

/************************* Stored Procedures *************************/
CREATE PROCEDURE spLogin
	@VendorName VARCHAR(50),
	@Password  VARCHAR(50)  -- in this case we use the VendorState as the password
AS BEGIN SET NOCOUNT ON
	DECLARE @ret UNIQUEIDENTIFIER = CAST(0x0 AS UNIQUEIDENTIFIER);
		IF EXISTS(	SELECT NULL FROM Vendors 
					WHERE 
						VendorName = @VendorName AND
						Password = HASHBYTES('SHA2_512', CAST(CONCAT(@Password, Salt) AS NVARCHAR(150)))
				) BEGIN
			SELECT @ret = LoginToken FROM Vendors WHERE VendorName = @VendorName;
			IF(@ret IS NULL) BEGIN
				SELECT @ret = NEWID();
				UPDATE Vendors SET LoginToken = @ret WHERE VendorName = @VendorName
		END
	END 
	
	SELECT @ret AS LoginToken
END
/* -- Test Login
	spLogin 'Federal Express Corporation', 'NY'
	spLogin 'Federal Express Corporation', 'TN'
*/
GO

CREATE PROCEDURE spLogOut
	@LoginToken UNIQUEIDENTIFIER
AS BEGIN SET NOCOUNT ON
	UPDATE Vendors SET LoginToken = NULL WHERE LoginToken = @LoginToken
END
/* -- Test Logout
	spLogout '6E9873CE-44BF-4B97-B1CD-A8E981ECD30B'
*/
GO

CREATE PROCEDURE spGetVendorInvoices
	@LoginToken UNIQUEIDENTIFIER
AS BEGIN SET NOCOUNT ON
	DECLARE @VendorID INT = dbo.fnVendorIDFromLoginToken(@LoginToken);
	SELECT * FROM Invoices WHERE VendorID = @VendorID
END
/* -- Test Proc
	spGetVendorInvoices '00000000-0000-0000-0000-000000000000'
	spGetVendorInvoices '-- insert login token here --'
*/


GO
/****************************** Functions ****************************/
CREATE FUNCTION fnVendorIDFromLoginToken (@loginToken uniqueidentifier) RETURNS INT AS BEGIN
	IF(@loginToken IS NULL) RETURN 0;
	DECLARE @ret INT = (SELECT VendorID FROM Vendors WHERE LoginToken = @loginToken)
	return ISNULL(@ret,0)
END
/* -- Test function
	SELECT dbo.fnVendorIDFromLoginToken(NEWID())
	SELECT dbo.fnVendorIDFromLoginToken('-- insert login token here --')
*/
GO

/**************************** Data Input *****************************/
SET IDENTITY_INSERT ContactUpdates ON 
	INSERT ContactUpdates (VendorID, LastName, FirstName) VALUES 
		(5, 'Davison', 'Michelle'),
		(12, 'Mayteh', 'Kendall'),
		(17, 'Onandonga', 'Bruce'),
		(44, 'Antavius', 'Anthony'),
		(76, 'Bradlee', 'Danny'),
		(94, 'Suscipe', 'Reynaldo'),
		(101, 'O''Sullivan', 'Geraldine'),
		(123, 'Bucket', 'Charles')
SET IDENTITY_INSERT ContactUpdates OFF
GO



SET IDENTITY_INSERT Invoices ON 
SET IDENTITY_INSERT Invoices OFF
GO

UPDATE Invoices SET isDeleted = 1 WHERE InvoiceID = 89
GO


SET IDENTITY_INSERT Terms ON 
	INSERT Terms (TermsID, TermsDescription, TermsDueDays) VALUES
		(1, 'Net due 10 days', 10),
		(2, 'Net due 20 days', 20),
		(3, 'Net due 30 days', 30),
		(4, 'Net due 60 days', 60),
		(5, 'Net due 90 days', 90)
SET IDENTITY_INSERT Terms OFF
GO

SET IDENTITY_INSERT Vendors ON 
SET IDENTITY_INSERT Vendors OFF
GO

-- Create a hashed password that is just the VendorState + Salt from the table
UPDATE Vendors SET Password = HASHBYTES('SHA2_512', CAST(CONCAT(VendorState, Salt) AS NVARCHAR(150)))
GO

/****** Object:  Index IX_InvoiceLineItems_AccountNo  ******/
CREATE NONCLUSTERED INDEX IX_InvoiceLineItems_AccountNo ON InvoiceLineItems(
	AccountNo ASC
) 
GO

/****** Object:  Index IX_InvoiceDate ******/
CREATE NONCLUSTERED INDEX IX_InvoiceDate ON Invoices(
	InvoiceDate DESC
)
GO

/****** Object:  Index IX_Invoices_TermsID ******/
CREATE NONCLUSTERED INDEX IX_Invoices_TermsID ON Invoices(
	TermsID ASC
)
GO

/****** Object:  Index IX_Invoices_VendorID ******/
CREATE NONCLUSTERED INDEX IX_Invoices_VendorID ON Invoices(
	VendorID ASC
)
GO

/****** Object:  Index IX_VendorName ******/
CREATE NONCLUSTERED INDEX IX_VendorName ON Vendors(
	VendorName ASC
)
GO

/****** Object:  Index IX_Vendors_AccountNo ******/
CREATE NONCLUSTERED INDEX IX_Vendors_AccountNo ON Vendors(
	DefaultAccountNo ASC
)
GO

/****** Object:  Index IX_Vendors_TermsID ******/
CREATE NONCLUSTERED INDEX IX_Vendors_TermsID ON Vendors(
	DefaultTermsID ASC
)
GO

ALTER TABLE Invoices 
ADD  CONSTRAINT DF_Invoices_PaymentTotal  DEFAULT (0) FOR PaymentTotal
GO

ALTER TABLE Invoices 
ADD  CONSTRAINT DF_Invoices_CreditTotal  DEFAULT (0) FOR CreditTotal
GO

ALTER TABLE Vendors 
ADD  CONSTRAINT DF_Vendors_TermsID  DEFAULT (3) FOR DefaultTermsID
GO

ALTER TABLE Vendors 
ADD  CONSTRAINT DF_Vendors_AccountNo  DEFAULT (570) FOR DefaultAccountNo
GO

ALTER TABLE InvoiceLineItems  
WITH NOCHECK ADD  CONSTRAINT FK_InvoiceLineItems_GLAccounts 
FOREIGN KEY(AccountNo)
REFERENCES GLAccounts (AccountNo)
ON UPDATE CASCADE
GO

ALTER TABLE InvoiceLineItems 
CHECK CONSTRAINT FK_InvoiceLineItems_GLAccounts
GO

ALTER TABLE InvoiceLineItems  
WITH NOCHECK 
ADD CONSTRAINT FK_InvoiceLineItems_Invoices 
FOREIGN KEY(InvoiceID)
REFERENCES Invoices (InvoiceID)
ON UPDATE CASCADE
ON DELETE CASCADE
GO

ALTER TABLE InvoiceLineItems 
CHECK CONSTRAINT FK_InvoiceLineItems_Invoices
GO

ALTER TABLE Invoices  
WITH NOCHECK 
ADD CONSTRAINT FK_Invoices_Terms 
FOREIGN KEY(TermsID)
REFERENCES Terms (TermsID)
GO

ALTER TABLE Invoices CHECK CONSTRAINT FK_Invoices_Terms
GO

ALTER TABLE Invoices 
WITH NOCHECK 
ADD CONSTRAINT FK_Invoices_Vendors
FOREIGN KEY(VendorID)
REFERENCES Vendors (VendorID)
GO

ALTER TABLE Invoices CHECK CONSTRAINT FK_Invoices_Vendors
GO

ALTER TABLE Vendors 
WITH NOCHECK 
ADD CONSTRAINT FK_Vendors_GLAccounts 
FOREIGN KEY(DefaultAccountNo)
REFERENCES GLAccounts (AccountNo)
GO

ALTER TABLE Vendors
CHECK CONSTRAINT FK_Vendors_GLAccounts
GO

ALTER TABLE Vendors
WITH NOCHECK 
ADD CONSTRAINT FK_Vendors_Terms FOREIGN KEY(DefaultTermsID)
REFERENCES Terms (TermsID)
GO

ALTER TABLE Vendors CHECK CONSTRAINT FK_Vendors_Terms
GO

USE master
GO