USE master
GO

/******************************* CREATE DATABASE ******/
IF DB_ID('AP_WSP') IS NOT NULL
	DROP DATABASE AP_WSP
GO

CREATE DATABASE AP_WSP
GO 

USE AP_WSP
GO

/******************************* CREATE TABLES ********/
CREATE TABLE ContactUpdates(
	VendorID int IDENTITY(1,1) NOT NULL,
	LastName varchar(50) NULL,
	FirstName varchar(50) NULL
)
GO

CREATE TABLE GLAccounts(
	AccountNo int NOT NULL,
	AccountDescription varchar(50) NOT NULL,
 CONSTRAINT PK_GLAccounts PRIMARY KEY CLUSTERED (
	AccountNo ASC
 )
)
GO

CREATE TABLE InvoiceArchive(
	InvoiceID int NOT NULL,
	VendorID int NOT NULL,
	InvoiceNumber varchar(50) NOT NULL,
	InvoiceDate smalldatetime NOT NULL,
	InvoiceTotal money NOT NULL,
	PaymentTotal money NOT NULL,
	CreditTotal money NOT NULL,
	TermsID int NOT NULL,
	InvoiceDueDate smalldatetime NOT NULL,
	PaymentDate smalldatetime NULL,
	isDeleted BIT NOT NULL
) 
GO

CREATE TABLE InvoiceLineItems(
	InvoiceID int NOT NULL,
	InvoiceSequence smallint NOT NULL,
	AccountNo int NOT NULL,
	InvoiceLineItemAmount money NOT NULL,
	InvoiceLineItemDescription varchar(100) NOT NULL,
CONSTRAINT PK_InvoiceLineItems PRIMARY KEY CLUSTERED (
	InvoiceID ASC,
	InvoiceSequence ASC
 ) 
)
GO

CREATE TABLE Invoices(
	InvoiceID int IDENTITY(1,1) NOT NULL,
	VendorID int NOT NULL,
	InvoiceNumber varchar(50) NOT NULL,
	InvoiceDate smalldatetime NOT NULL,
	InvoiceTotal money NOT NULL,
	PaymentTotal money NOT NULL,
	CreditTotal money NOT NULL,
	TermsID int NOT NULL,
	InvoiceDueDate smalldatetime NOT NULL,
	PaymentDate smalldatetime NULL,
	isDeleted BIT NOT NULL DEFAULT 0,
 CONSTRAINT PK_Invoices PRIMARY KEY CLUSTERED (
	InvoiceID ASC
 )
)
GO

CREATE TABLE Terms(
	TermsID int IDENTITY(1,1) NOT NULL,
	TermsDescription varchar(50) NOT NULL,
	TermsDueDays smallint NOT NULL,
 CONSTRAINT PK_Terms PRIMARY KEY CLUSTERED (
	TermsID ASC
 )
) 
GO

CREATE TABLE Vendors(
	VendorID int IDENTITY(1,1) NOT NULL,
	VendorName varchar(50) NOT NULL,
	VendorAddress1 varchar(50) NULL,
	VendorAddress2 varchar(50) NULL,
	VendorCity varchar(50) NOT NULL,
	VendorState char(2) NOT NULL,
	VendorZipCode varchar(20) NOT NULL,
	VendorPhone varchar(50) NULL,
	VendorContactLName varchar(50) NULL,
	VendorContactFName varchar(50) NULL,
	DefaultTermsID int NOT NULL,
	DefaultAccountNo int NOT NULL,
 CONSTRAINT PK_Vendors PRIMARY KEY CLUSTERED(
	VendorID ASC
 )
) 
GO

CREATE TABLE ErrorTable (
	errorTableId		INT				PRIMARY KEY		IDENTITY,
	ERROR_PROCEDURE		VARCHAR(200)	NULL,
	ERROR_LINE			INT				NULL,
	ERROR_MESSAGE		VARCHAR(500)	NULL,
	PARAMS				VARCHAR(MAX)	NULL,
	ERROR_NUMBER		INT				NULL,
	ERROR_SEVERITY		INT				NULL,
	ERROR_STATE			INT				NULL,
	USER_ID				VARCHAR(200)	NOT NULL,
	ERROR_DATETIME		DATETIME		NOT NULL		DEFAULT(GETDATE()),
	FIXED_DATETIME		DATETIME		NULL
)
GO

/******************************* CREATE VIEWS *********/
CREATE VIEW [dbo].[vwInvoices]
	AS 
SELECT *, [Balance] = (InvoiceTotal - PaymentTotal - CreditTotal) 
FROM [Invoices]
WHERE isDeleted = 0
GO

/******************************* STORED PROCEDURES ****/
CREATE PROCEDURE spSearchVendors
	@search		VARCHAR(20)
AS BEGIN SET NOCOUNT ON 
	SET @search = CONCAT('%', @search, '%')
	SELECT TOP(20) *
	FROM Vendors
	WHERE 
		CONCAT(
			VendorName, '~',
			VendorAddress1, '~',
			VendorCity, '~',
			VendorState, '~',
			VendorZipCode, '~',
			VendorPhone, '~',
			VendorContactFName, '~',
			VendorContactLName
		) LIKE @search
	ORDER BY
		VendorName
END
GO

CREATE PROCEDURE spGetUniqueStateCity
AS BEGIN SET NOCOUNT ON
	SELECT DISTINCT
		[location] = CONCAT(v.VendorState, '/', v.VendorCity)
	FROM Vendors v
	ORDER BY
		location
END
GO

CREATE PROCEDURE spRecordError
	@params		VARCHAR(MAX)
AS BEGIN SET NOCOUNT ON
	INSERT INTO ErrorTable
		SELECT		ERROR_PROCEDURE()
				   ,ERROR_LINE()
				   ,ERROR_MESSAGE()
				   ,@params
				   ,ERROR_NUMBER()	
				   ,ERROR_SEVERITY()
				   ,ERROR_STATE()
				   ,ORIGINAL_LOGIN()
				   ,GETDATE()
				   ,NULL
END
GO	
-------------------------------------------------------- TEST ERROR STORED PROC

/* -- test block
	spDivideNums '10', '2', 2
	go
	spDivideNums '10', '0', 2
	go
	spDivideNums 'DROP', '4', 2
	go
	SELECT * FROM ErrorTable
*/

CREATE PROCEDURE spDivideNums
	@n1		VARCHAR(10),
	@n2		VARCHAR(10),
	@uid	INT
AS BEGIN SET NOCOUNT ON
	
	BEGIN TRAN
		BEGIN TRY
			IF(@n1 IN('DROP', 'DELETE', 'TRUNCATE')) THROW 50001, 'Hack Attempt', 1
			TRUNCATE TABLE InvoiceArchive
			SELECT [result] = CAST(@n1 AS INT) / CAST(@n2 AS INT)
		END TRY BEGIN CATCH
			IF(@@TRANCOUNT > 0) ROLLBACK TRAN
			DECLARE @p VARCHAR(MAX) = (
				SELECT [@uid] = @uid, [@n1] = @n1, [@n2] = @n2 FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
			)
			EXEC spRecordError @p
		END CATCH
		IF(@@TRANCOUNT > 0) COMMIT TRAN
END
GO

/* -- test sp
	exec spDivideNums @n1 = 10, @n2 = 'one'
	SELECT * FROM ErrorTable
*/


-------------------------------------------------------- TEST ERROR STORED PROC



/******************************* INSERT DATA **********/
SET IDENTITY_INSERT ContactUpdates ON 
	INSERT ContactUpdates (VendorID, LastName, FirstName) VALUES 
		(5, 'Davison', 'Michelle'),
		(12, 'Mayteh', 'Kendall'),
		(17, 'Onandonga', 'Bruce'),
		(44, 'Antavius', 'Anthony'),
		(76, 'Bradlee', 'Danny'),
		(94, 'Suscipe', 'Reynaldo'),
		(101, 'O''Sullivan', 'Geraldine'),
		(123, 'Bucket', 'Charles')
SET IDENTITY_INSERT ContactUpdates OFF
GO



SET IDENTITY_INSERT Invoices ON 
SET IDENTITY_INSERT Invoices OFF
GO

UPDATE Invoices SET isDeleted = 1 WHERE InvoiceID = 89
GO


SET IDENTITY_INSERT Terms ON 
	INSERT Terms (TermsID, TermsDescription, TermsDueDays) VALUES
		(1, 'Net due 10 days', 10),
		(2, 'Net due 20 days', 20),
		(3, 'Net due 30 days', 30),
		(4, 'Net due 60 days', 60),
		(5, 'Net due 90 days', 90)
SET IDENTITY_INSERT Terms OFF
GO

SET IDENTITY_INSERT Vendors ON 
SET IDENTITY_INSERT Vendors OFF
GO

/****** Object:  Index IX_InvoiceLineItems_AccountNo  ******/
CREATE NONCLUSTERED INDEX IX_InvoiceLineItems_AccountNo ON InvoiceLineItems(
	AccountNo ASC
) 
GO

/****** Object:  Index IX_InvoiceDate ******/
CREATE NONCLUSTERED INDEX IX_InvoiceDate ON Invoices(
	InvoiceDate DESC
)
GO

/****** Object:  Index IX_Invoices_TermsID ******/
CREATE NONCLUSTERED INDEX IX_Invoices_TermsID ON Invoices(
	TermsID ASC
)
GO

/****** Object:  Index IX_Invoices_VendorID ******/
CREATE NONCLUSTERED INDEX IX_Invoices_VendorID ON Invoices(
	VendorID ASC
)
GO

/****** Object:  Index IX_VendorName ******/
CREATE NONCLUSTERED INDEX IX_VendorName ON Vendors(
	VendorName ASC
)
GO

/****** Object:  Index IX_Vendors_AccountNo ******/
CREATE NONCLUSTERED INDEX IX_Vendors_AccountNo ON Vendors(
	DefaultAccountNo ASC
)
GO

/****** Object:  Index IX_Vendors_TermsID ******/
CREATE NONCLUSTERED INDEX IX_Vendors_TermsID ON Vendors(
	DefaultTermsID ASC
)
GO

ALTER TABLE Invoices 
ADD  CONSTRAINT DF_Invoices_PaymentTotal  DEFAULT (0) FOR PaymentTotal
GO

ALTER TABLE Invoices 
ADD  CONSTRAINT DF_Invoices_CreditTotal  DEFAULT (0) FOR CreditTotal
GO

ALTER TABLE Vendors 
ADD  CONSTRAINT DF_Vendors_TermsID  DEFAULT (3) FOR DefaultTermsID
GO

ALTER TABLE Vendors 
ADD  CONSTRAINT DF_Vendors_AccountNo  DEFAULT (570) FOR DefaultAccountNo
GO

ALTER TABLE InvoiceLineItems  
WITH NOCHECK ADD  CONSTRAINT FK_InvoiceLineItems_GLAccounts 
FOREIGN KEY(AccountNo)
REFERENCES GLAccounts (AccountNo)
ON UPDATE CASCADE
GO

ALTER TABLE InvoiceLineItems 
CHECK CONSTRAINT FK_InvoiceLineItems_GLAccounts
GO

ALTER TABLE InvoiceLineItems  
WITH NOCHECK 
ADD CONSTRAINT FK_InvoiceLineItems_Invoices 
FOREIGN KEY(InvoiceID)
REFERENCES Invoices (InvoiceID)
ON UPDATE CASCADE
ON DELETE CASCADE
GO

ALTER TABLE InvoiceLineItems 
CHECK CONSTRAINT FK_InvoiceLineItems_Invoices
GO

ALTER TABLE Invoices  
WITH NOCHECK 
ADD CONSTRAINT FK_Invoices_Terms 
FOREIGN KEY(TermsID)
REFERENCES Terms (TermsID)
GO

ALTER TABLE Invoices CHECK CONSTRAINT FK_Invoices_Terms
GO

ALTER TABLE Invoices 
WITH NOCHECK 
ADD CONSTRAINT FK_Invoices_Vendors
FOREIGN KEY(VendorID)
REFERENCES Vendors (VendorID)
GO

ALTER TABLE Invoices CHECK CONSTRAINT FK_Invoices_Vendors
GO

ALTER TABLE Vendors 
WITH NOCHECK 
ADD CONSTRAINT FK_Vendors_GLAccounts 
FOREIGN KEY(DefaultAccountNo)
REFERENCES GLAccounts (AccountNo)
GO

ALTER TABLE Vendors
CHECK CONSTRAINT FK_Vendors_GLAccounts
GO

ALTER TABLE Vendors
WITH NOCHECK 
ADD CONSTRAINT FK_Vendors_Terms FOREIGN KEY(DefaultTermsID)
REFERENCES Terms (TermsID)
GO

ALTER TABLE Vendors CHECK CONSTRAINT FK_Vendors_Terms
GO

USE master
GO

USE AP_WSP
GO